.home__main{
    background-color: $color-white-three;
    margin: 0 auto;
    max-width: 268px;
}

.main__title-2{
    @include Text-Style-2();
}
.main__text{
    @include Text-Style-3();
}
.main__icons{
    background-color: blue;
    list-style: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    align: center;
    color: $color-gunmetal;
}

.icon__design{

}
.icon__fill{

}
.icon__share{

}

.main__button{

}