.page__home {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    margin-top: 94px;

    @media all and (min-width: 768px){
        justify-content: flex-end;
        margin-top: 0px;
    }
}

.home__main {
    background-color: $color-white-three;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.main__title-2 {
    @include Text-Style-2();
    margin-top: 35px;
    margin-bottom: 4px;

    @media all and (min-width: 768px){
        font-size: 24px;
        margin-top: 31px;
    }
}

.main__text {
    @include Text-Style-3();
    margin-top: 0;
    margin-bottom: 14px;
    max-width: 265px;

    @media all and (min-width: 768px){
        font-size: 16px;
        margin-bottom: 21px;
        max-width: 331px;
    }
}

.main__icons {
    list-style: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: $color-gunmetal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 0 10px;
    width: 268px;
    min-height: 74px;
    border-radius: 4px;
    margin: 0;
    border: 1.6px solid $color-dull-orange-o;
    background-color: $color-white-three;

    @media all and (min-width: 768px) {
        font-size: 16px;
        width: 325px;
        min-height: 86px;
        border-radius: 5px;
    }
    span {
        font-size: 28px;
    }
}

.icon:nth-last-child(1) {
    margin-right: 20px;
}

.icon:first-child {
    margin-left: 20px;
}

.icon__design {
flex-direction: column;
}

.icon__share {
    width: 61px;
}

.main__button {
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: $color-dirty-blue;
    margin: 38px 0 30px; 
    padding: 10px 20px;
    @include Text-Style-5;
    border: none;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
        margin-bottom: 69px;
    }
}