<section class="main__preview">

    <div class="preview__container">

        <button class="preview__reset">
            <span class="far fa-trash-alt"></span><span class="preview__reset-text">reset</span>
        </button>

        <div class="preview__card">
            <div class="preview__title">
                <div class="preview__decoration-rectangle preview__decoration-rectangle--green"></div>
                <div class="preview__texts">
                    <p class="font-comic-sans preview__name preview__name--green">Nombre Apellido</p>
                    <p class="font-comic-sans preview__occupation">Front-end developer</p>
                </div>
            </div>

            <div class="preview__image"></div>

            <ul class="icons__container preview__social-icons">
              <li class="li__email"></li>
              <li class="li__phone"></li>
              <li class="li__linkedin"></li>
              <li class="li__github"></li>

            </ul>

            <div class="skills__container">
                <ul class="icons__container preview__skills-icons">

                    <li class="hidden skill skill--green skill_html">html</li>
                    <li class="hidden skill skill--green skill_css">css</li>
                    <li class="hidden skill skill--green skill_react">react</li>
                    
                </ul> 
            </div>
         
        </div>
    </div>
</section>