<section class="main__preview">

    <div class="preview__container">

        <button class="preview__reset">
            <span class="far fa-trash-alt"></span><span class="preview__reset-text">reset</span>
        </button>

        <div class="preview__card">
            <div class="preview__title">
                <div class="preview__decoration-rectangle preview__decoration-rectangle--green"></div>
                <div class="preview__texts">
                    <p class="preview__name preview__name--green">Nombre Apellido</p>
                    <p class="preview__occupation">Front-end developer</p>
                </div>
            </div>

            <div class="preview__image"></div>

            <ul class="icons__container preview__social-icons">
                <li class="social-icon social-icon--green icon__phone"><span class="fas fa-mobile-alt"></span></li>
                <li class="social-icon social-icon--green icon__mail"><span class="far fa-envelope"></span></li>
                <li class="social-icon social-icon--green icon__linkedin"><span class="fab fa-linkedin-in"></span></li>
                <li class="social-icon social-icon--green icon__github"><span class="i fab fa-github-alt"></span></li>
            </ul>

            <div class="skills__container">
                <ul class="icons__container preview__skills-icons">
                    <li class="skill skill--green skill_html">html</li>
                    <li class="skill skill--green skill_css">css</li>
                    <li class="skill skill--green skill_gulp">gulp</li>
                </ul> 
            </div>
         
        </div>
    </div>
</section>