<section class="main__preview">

    <div class="preview__container">

        <button class="preview__reset">
            <span class="far fa-trash-alt"></span><span class="preview__reset-text">reset</span>
        </button>

        <div class="preview__card">
            <div class="preview__title">
                <div class="preview__decoration-rectangle preview__decoration-rectangle--green"></div>
                <div class="preview__texts">
                    <p class="font-comic-sans preview__name preview__name--green">Nombre Apellido</p>
                    <p class="font-comic-sans preview__occupation">Front-end developer</p>
                </div>
            </div>

            <div class="preview__image"></div>

            <ul class="icons__container social__container--green preview__social-icons">
              <li class="social-icon li__email"></li>
              <li class="social-icon li__phone"></li>
              <li class="social-icon li__linkedin"></li>
              <li class="social-icon li__github"></li>

            </ul>

            <div class="skills__container">
                <ul class="icons__container icons__container--green preview__skills-icons"></ul>
            </div>

        </div>
    </div>
</section>
