<main class="main__container">
    <partial src="_cards-preview.html"></partial>

    <form class="main__form">
        <fieldset class="main__design">
            <button class="dropdown__design">
                <span class="icon main__design--icon"></span>
                <h2 class="main__design--title">diseña</h2>
                <span class="main__arrow main__design--arrow"></span>
            </button>

            <div class="main__design--container">   
                <p class="main__design--titles">colores</p> 
                <ul class="main__design--colors">
                    <li class="main__design--items">
                        <label for="color-green" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-green" type="radio" value="green-palette" name="color-selection">
                            </div>

                            <!--color squares go here-->
                            <div class="main__design--palette-green">
                                <div class="green-dark"></div>
                                <div class="green-medium"></div>
                                <div class="green-light"></div>
                            </div>
                        </label>
                    </li>
                    <li class="main__design--items">
                        <label for="color-red" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-red" type="radio" value="red-palette" name="color-selection">
                            </div>  

                            <div class="main__design--palette-red">
                                <div class="red-dark"></div>
                                <div class="red-medium"></div>
                                <div class="red-light"></div>
                            </div>
                        </label>
                    </li>
                    <li class="main__design--items">
                        <label for="color-grey" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-grey" type="radio" value="grey-palette" name="color-selection">
                            </div>

                            <div class="main__design--palette-grey">
                                <div class="grey-dark"></div>
                                <div class="grey-medium"></div>
                                <div class="grey-light"></div>
                            </div>
                        </label>
                    </li>
                </ul>
            

                <!--fonts go here-->
               
                <p class="main__design--titles">fuentes</p>
                <ul class="main__design--fonts">
                    <li class="main__design--items ubuntu">
                        <label for="font-ubuntu">
                            <input class="option-button" id="font-ubuntu" type="radio" value="font-ubuntu" name="font-selection">
                            ubuntu
                        </label>
                    </li>

                    <li class="main__design--items comic-sans">
                        <label for="font-comic-sans">
                            <input class="option-button" id="font-comic-sans" type="radio" value="font-comic-sans" name="font-selection">
                            comic sans
                        </label>
                    </li>

                    <li class="main__design--items montserrat">
                        <label for="font-montserrat">
                            <input class="option-button" id="font-montserrat" type="radio" value="font-montserrat" name="font-selection">
                            montserrat
                        </label>
                    </li>
                </ul>
            </div>

        </fieldset>

        <fieldset class="main__fill">
            <button class="dropdown__fill">
                <span class="icon main__fill--icon"></span>
                <h2 class="main__fill--title">rellena</h2>
                <span class="main__arrow main__fill--arrow"></span>
            </button>

            <div class="main__fill--container">
                <label for="full-name">nombre completo</label>
                <input id="full-name" type="text" name="full-name">

                <label for="occupation">puesto</label>
                <input id="occupation" type="text" name="occupation">

                <label for="upload-image">añadir imagen</label>
                <input id="upload-image" type="file" name="upload-image">
                <div class="upload-image__container"></div>
                
                <label for="email">email</label>
                <input id="email" type="email" name="email">

                <label for="phone">teléfono</label>
                <input id="phone" type="number" name="phone">

                <label for="linkedin">linkedin</label>
                <input id="linkedin" type="text" name="linkedin">

                <label for="github">github</label>
                <input id="github" type="text" name="github">

                <p>habilidades</p>

                <label for="skills-html">
                    <input class="option-button" id="skills-html" type="radio" value="skills-html" name="skills">
                    <p class="main__design--skills-html">HTML</p>
                </label>

                <label for="skills-css">
                    <input class="option-button" id="skills-css" type="radio" value="skills-css" name="skills">
                    <p class="main__design--skills-css">CSS</p>
                </label>

                <label for="skills-react">
                    <input class="option-button" id="skills-react" type="radio" value="skills-react" name="skills">
                    <p class="main__design--skills-react">react</p>
                </label>
            </div>
        </fieldset>

        <fieldset class="main__share">
            <button class="main__share--dropdown">
                <span class="icon main__share--icon"></span>
                <h2 class="main__share--title">comparte</h2>
                <span class="main__arrow main__share--arrow"></span>
            </button>

            <div class="main__share--container">
                <button class="main__share--create">
                    <span class="main__share--create-icon"></span>
                    <span class="main__share--create-text">crear tarjeta</span>
                </button>
            </div>

            <div class="main__share--generated">
                <h3 class="main__share--generated-text">la tarjeta ha sido creada:</h3>
                <a class="main__share--generated-link" href=""></a>
                <button class="main__share--generated-twitter"></button>
            </div>
        </fieldset>
    </form>

</main>