<main class="main__container">
    <partial src="_cards-preview.html"></partial>

    <form class="main__form">
        <fieldset class="main__design">
            <div class=" dropdown dropdown__design">
                <div class="dropdown-icon">
                    <span class="dropdown-icon icon far fa-object-ungroup"></span>
                    <h2 class="form__title main__design--title">diseña</h2>
                </div>
                <div class="dropdown-arrow">
                    <span class="main__arrow fas fa-angle-down"></span>
                </div>
            </div>

            <div class="main__design--container hidden">
                <p class="main__design--titles">colores</p>
                <ul class="main__design--colors">
                    <li class="main__design--items">
                        <label for="color-green" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-green" type="radio" value="green-palette" name="color-selection">
                            </div>

                            <!--color squares go here-->
                            <div class="main__design--palette-green">
                                <div class="green-dark"></div>
                                <div class="green-medium"></div>
                                <div class="green-light"></div>
                            </div>
                        </label>
                    </li>
                    <li class="main__design--items">
                        <label for="color-red" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-red" type="radio" value="red-palette" name="color-selection">
                            </div>

                            <div class="main__design--palette-red">
                                <div class="red-dark"></div>
                                <div class="red-medium"></div>
                                <div class="red-light"></div>
                            </div>
                        </label>
                    </li>
                    <li class="main__design--items">
                        <label for="color-grey" class="main__design--palette">
                            <div class="main__design--input">
                                <input class="option-button" id="color-grey" type="radio" value="grey-palette" name="color-selection">
                            </div>

                            <div class="main__design--palette-grey">
                                <div class="grey-dark"></div>
                                <div class="grey-medium"></div>
                                <div class="grey-light"></div>
                            </div>
                        </label>
                    </li>
                </ul>


                <!--fonts go here-->

                <p class="main__design--titles">fuentes</p>
                <ul class="main__design--fonts">
                    <li class="main__design--items ubuntu">
                        <label for="font-ubuntu">
                            <input class="option-button" id="font-ubuntu" type="radio" value="font-ubuntu" name="font-selection">
                            ubuntu
                        </label>
                    </li>

                    <li class="main__design--items comic-sans">
                        <label for="font-comic-sans">
                            <input class="option-button" id="font-comic-sans" type="radio" value="font-comic-sans" name="font-selection">
                            comic sans
                        </label>
                    </li>

                    <li class="main__design--items montserrat">
                        <label for="font-montserrat">
                            <input class="option-button" id="font-montserrat" type="radio" value="font-montserrat" name="font-selection">
                            montserrat
                        </label>
                    </li>
                </ul>
            </div>
            <div class="border-section">
            </div>

        </fieldset>

        <fieldset class="main__fill">
            <div class="dropdown dropdown__fill">
                <div class="dropdown-icon">
                    <span class="dropdown-icon icon far fa-keyboard"></span>
                    <h2 class="form__title main__fill--title">rellena</h2>
                </div>
                <div class="dropdown-arrow">
                    <span class="main__arrow fas fa-angle-down"></span>
                </div>
            </div>

            <div class="main__fill--container hidden">

                <label for="full-name">Nombre completo</label>
                <input id="full-name" type="text" name="full-name" class="input-container" placeholder="Ej: Paca Ramirez">

                <label for="occupation">Puesto</label>
                <input id="occupation" type="text" name="occupation" class="input-container" placeholder="Ej: Web tester">

                <label class="upload-image-label" for="upload-image">Añadir imagen</label>
                <input class="upload-image input-container" id="upload-image" type="file" name="upload-image">
                <div class="upload-image__container">
                    <button type="button" class="fake__upload-image">Añadir imagen</button>
                    <div class="fake__check-upload-image"></div>
                </div>

                <label for="email">Email</label>
                <input class="input-container" placeholder="Ej: PaquitaR@gmail.com"id="email" type="email" name="email">

                <label for="phone">Teléfono</label>
                <input class="input-container" placeholder="Ej: 666-55-44-33"id="phone" type="number" name="phone">

                <label for="linkedin">Linkedin</label>
                <input class="input-container" placeholder="Ej: linkedin.com/in/paqui.ram"id="linkedin" type="text" name="linkedin">

                <label for="github">Github</label>
                <input class="input-container" placeholder="Ej: @paqui-ram"id="github" type="text" name="github">

                <p class="text--skills">Habilidades (máximo 3)</p>

                <div class="container--skills"></div>

            </div>
            <div class="border-section">
            </div>
        </fieldset>

        <fieldset class="main__share">
            <div class="dropdown main__share--dropdown">
                <div class="dropdown-icon">
                    <span class="dropdown-icon icon fas fa-share-alt"></span>
                    <h2 class="form__title main__share--title">comparte</h2>
                </div>
                <div class="dropdown-arrow">
                    <span class="main__arrow fas fa-angle-down"></span>
                </div>
            </div>

            <div class="main__share--container hidden">
                <button class="main__share--create" type="button">
                    <span class="main__share--create- far fa-address-card"></span>
                    <span class="main__share--create-text">crear tarjeta</span>
                </button>
            </div>
            <div class="border-section">
            </div>

            <div class="main__share--generated">
                <h3 class="main__share--generated-text">La tarjeta ha sido creada:</h3>
                <a class="main__share--generated-link" href=""></a>
                <a class="main__share--generated-twitter">Compartir en twitter</a>
            </div>
            <div class="border-section">
            </div>
        </fieldset>
    </form>

</main>
