<main class="page__home">
    <div class="home__main">
        <h2 class="main__title-2">Crea tu tarjeta de visita</h2>
        <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        <div class="main__icons">
            <ul class="main__icons-list">
                <li class="icons icons__design">Diseña</li>
                <li class="icons icons__fill">Rellena</li>
                <li class="icons icons__share">Comparte</li>
            </ul>
        </div>
        <button class="button main__button">Comenzar</button>
    </div>
</main>