<main class="page__home">
    <div class="home__main">
        <partial src="_header-home.html" label="Header"></partial>
        <h2 class="main__title-2">Crea tu tarjeta de visita</h2>
        <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        <ul class="main__icons">
            <li class="icon icon__design"><span class="far fa-object-ungroup"></span><p>Diseña</p></li>
            <li class="icon icon__fill"><span class="far fa-keyboard"></span><p>Rellena</p></li>
            <li class="icon icon__share"><span class="fas fa-share-alt"></span><p>Comparte</p></li>
        </ul>
    </div>
    <a href="cards.html"><button class="button main__button" href="">Comenzar</button></a>
</main>
