<main class="main__container">
    <form>
        <fieldset class="main__design">
            <button class="dropdown__design">
                <span class="icon main__design--icon"></span>
                <h2 class="main__design--title">diseña</h2>
                <span class="main__arrow main__design--arrow"></span>
            </button>
        </fieldset>

        <fieldset class="main__fill">
            <button class="dropdown__fill">
                <span class="icon main__fill--icon"></span>
                <h2 class="main__fill--title">rellena</h2>
                <span class="main__arrow main__fill--arrow"></span>
            </button>
        </fieldset>

        <fieldset class="main__share">
            <button class="main__share--dropdown">
                <span class="icon main__share--icon"></span>
                <h2 class="main__share--title">comparte</h2>
                <span class="main__arrow main__share--arrow"></span>
            </button>

            <div class="main__share--container">
                <button class="main__share--create">
                    <span class="main__share--create-icon"></span>
                    <span class="main__share--create-text">crear tarjeta</span>
                </button>
            </div>

            <div class="main__share--generated">
                <h3 class="main__share--generated-text">la tarjeta ha sido creada:</h3>
                <a class="main__share--generated-link" href=""></a>
                <button class="main__share--generated-twitter"></button>
            </div>
        </fieldset>
    </form>

</main>







