<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Awesome Profile-Cards</title>
  <link rel="icon" href="favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
  <div class="page">
    <div class="page__home-container">
      <partial src="_header-home.html" label="Header"></partial>
      <partial src="_main-home.html" label="Main-home"></partial>
    </div>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script type="text/javascript" src="assets/js/main.min.js"></script>
</body>
</html>
