.page__header {
    margin: 0 auto;
    max-width: 268px;

    @media all and (min-width: 768px){
        max-width: 419px;
    }
}

.header__logo {
    min-height: 64px;
    width: 250px;
    height: 94px;

    @media all and (min-width: 768px){
        min-height: 107px;
        width: 419px;
        height: 348px;
    }
}
