.page__header {
    margin: auto;
    width: 250px;

    @media all and (min-width: 768px) {
        width: 419px;
    }
}

.header__logo {
    width: 250px;

    @media all and (min-width: 768px) {
        width: 419px;
    }
}
