.cards--form__container{
  margin: 0;
}
.main__preview {
    background-image: linear-gradient(to bottom, $color-silver, $color-pale-grey);
    padding-bottom: 30px;

}
.main__container{
  background-image: linear-gradient(to bottom, $color-white-three, $color-white 10%);

}

.main__form {
    background-image: linear-gradient(to bottom, $color-white-three, $color-white 10%);
    padding-right: 20px;
    padding-left: 20px;
    @media all and (min-width: 768px) {
      width: 399px;
      height: 470px;
    }
}

.preview__container {
    width: 240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: green;
    // border: dotted black;

    //removed margin: left and re-added margin auto. Don't change it back, otherwise page isn't responsive!
}

.icon {
    width: 21px;
    height: 18px;
    color: $color-dull-orange;

}

.fa-object-ungroup {
    margin: 0;
}

.main__arrow {
    width: 16px;
    height: 18px;
    color: $color-gunmetal;
    font-size: 18px;
    text-align: center;
}

.main__design {
    border-style: none;
    margin: 0;
    padding: 0;
}

.main__fill {
    border-style: none;
    margin: 0;
    padding: 0;
}

.main__share {
    border-style: none;
    margin: 0;
    padding: 0;
}

.preview__reset {
  align-self: flex-start;
}

.preview__reset {
    padding: 5px 10px;
    border: 1px solid $color-white;
    border-radius: 15px;
    background-color: $color-silver;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $color-gunmetal;
}

.preview__reset-text {
    margin-left: 5px;
    text-transform: uppercase;
    @include Text-Style-Main();
    font-size: 12px;
    line-height: 20px;
}

.preview__card {
    width: 100%;
    max-height: 367px;
    padding-top: 20px;
    background-color: $color-white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    // background: fuchsia;
}

.preview__title {
    display: flex;
    margin: 0 auto 10px 0;
}

.preview__decoration-rectangle {
    height: 42px;
    width: 5px;
}

//Creamos clases diferentes específicas para cada color, para poder seleccionar las clases más fácilemente con JS
.preview__decoration-rectangle--green {
    background-color: $color-hospital-green;
}

.preview__decoration-rectangle--red {
    background-color: $color-tomato;
}

.preview__decoration-rectangle--grey {
    background-color: $color-light-grey-blue;
}



.preview__texts {
    margin-left: 15px;
    font-family: 'ComicSansMS', 'Comic Neue';
}

.preview__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 5px;
}

//Creamos clases diferentes específicas para cada color, para poder seleccionar las clases más fácilemente con JS

.preview__name--green {
    color: $color-dark-green-blue;
}

.preview__name--red {
    color: $color-dried-blood;
}

.preview__name--grey {
    color: $color-slate;
}

.preview__occupation {
    margin: 0px;
    font-size: 16px;
    color: $color-gunmetal;
    height: 22px;
}

.preview__image {
    background-image: url(https://placehold.it/200x200/ffcc00/0000ff/?text=TEXT);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

//////The conatiner class in each UL is to give each of them display: flex and some other common elements in just one place///

.icons__container {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 16px;
}

//Creamos clases diferentes específicas para cada color, para poder seleccionar las clases más fácilemente con JS
.social-icon--green {
    border: 2px solid $color-hospital-green;
    color: $color-dark-green-blue;
}

.social-icon--red {
    border: 2px solid $color-tomato;
    color: $color-dried-blood;
}

.social-icon--grey {
    border: 2px solid $color-light-grey-blue;
    color: $color-slate;
}

.social-icon:first-child {
    margin-left: 20px;
}

.preview__skills-icons {
    padding: 10px 0;
    margin-bottom: 10px;
}

.skills__container {
    border-top: 2px solid rgba(67,135,146, 0.2);
}

.preview__skills-icons:first-child {
    margin-left: 15px;
}

.skill {
    font-size: 13px;
    font-family: 'OpenSans', sans-serif;
    color: $color-white;
    text-transform: uppercase;
    margin-right: 10px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 4px;
}

//hidden upload image fieldset

.upload-image {
    display: none;
}

.fake__check-upload-image {
    width: 30px;
    height: 30px;
    border: 1px solid $color-hospital-green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

//Creamos clases diferentes específicas para cada color, para poder seleccionar las clases más fácilemente con JS

.skill--green {
    background-color: $color-dirty-blue;
}

.skill--red {
    background-color: $color-rusty-red;
}

.skill--grey {
    background-color: $color-pale-grey-two;
}

.main__design--palette {
    display: flex;
    flex-direction: row;
}

.option-button {
    margin-right: 10px;
    height: 17px;
    width: 17px;
}

/*color squares starts here*/

/* green palette */

.main__design--palette-green {
    margin-bottom: 20px;
    display: flex;
}

.green-dark {
    width: 30px;
    height: 25px;
    background-color: #114e4e;
}

.green-medium {
    width: 30px;
    height: 25px;
    background-color: #438792;
}

.green-light {
    width: 30px;
    height: 25px;
    background-color: #a2deaf;
}

/* red palette */

.main__design--palette-red {
    margin-bottom: 20px;
    display: flex;
}

.red-dark {
    width: 30px;
    height: 25px;
    background-color: #420101;
}

.red-medium {
    width: 30px;
    height: 25px;
    background-color: #bd1010;
}

.red-light {
    width: 30px;
    height: 25px;
    background-color: #e95626;
}

.form__title {
    font-family: 'Open Sans';
    font-size: 18px;
    color: $color-gunmetal;
    margin-left: 10px;
}

.main__design--colors,
.main__design--fonts {
    list-style-type: none;
}

.main__design--container {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 27px;
    //he tenido que meterlo aquí porque el display: grid lo sobreescribe
    &.hidden{
        display: none;
    }
}

.main__design--titles {
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: $color-gunmetal;
}

.main__design--fonts {
    text-transform: capitalize;
}

/* grey palette */

.main__design--palette-grey {
    display: flex;
}

.grey-dark {
    width: 30px;
    height: 25px;
    background-color: #3e5b65;
}

.grey-medium {
    width: 30px;
    height: 25px;
    background-color: #dfe5eb;
}

.grey-light{
    width: 30px;
    height: 25px;
    background-color: #a0c0cf;
}

/*fonts starts here*/

.ubuntu {
    @include Text-Style-5();
    color: $color-gunmetal;
    text-align: left;
}

.comic-sans {
    @include Text-Style-6();
}

.montserrat {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: $color-gunmetal;
}

.border-section {
    width: 280px;
    height: 1px;
    background-color: $color-white-two;
    margin-top: 30px;
}


//Revisar para mejorar

.input-container {
    border: 1px solid $color-hospital-green;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.main__fill--container {
    @include Text-Style-3;
    font-size:14px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 281px;
    margin-top:25px;
    //he tenido que meterlo aquí porque el display: flex lo sobreescribe
    &.hidden{
        display: none;
    }
}

::placeholder {
    color: $color-pinkish-grey;
}

.dropdown {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: $color-gunmetal;
  text-transform: uppercase;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

//position skills checkbox

.text--skills{
    margin-top: 20px;
}
.option-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
}
//position button and preview image

.upload-image__container{
    display:flex;
    margin-top: 6px;
    margin-bottom: 20px;
}

//button uploadimage styles

.fake__upload-image{
    width: 140px;
    height: 30px;
    background-color: $color-dull-orange;
    color: $color-white;
    border-style: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    margin-right: 20px;
    padding: 0;
}

//button create styles

.main__share--create{
    width: 199px;
    height: 50px;
    font-size: 18px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 500;
    background-color: $color-dull-orange;
    border-style: none;
    text-transform: uppercase;
    color: $color-white;
    // padding-left:18px;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
}

.main__share--create-text{
    margin-left:10px;
}
.main__share--container{
    display: flex;
    justify-content: center;
    margin-top:18px;
}

.main__share--generated-text{
  @include Text-Style-Main;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0 0;

}

.main__share--generated-twitter{
  background-color: $color-azure;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  height: 30px;
  width: 181px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: $color-white;
  display:flex;
  align-items: center;
  justify-items: center;
}

.fa-twitter{
font-size: 18px;
margin: 6px 9.5px 6px 10.5px;
}
.main__share--generated{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__share--generated-link{
  text-decoration: none;
  color: $color-dull-orange;
  font-size: 12px;
  font-family: 'OpenSans', sans-serif;
  margin-bottom: 10px;
  margin-top:5px;

}

@media all and (min-width: 768px) {

  .cards--form__container{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, $color-white-three, $color-white 10%);
  border-radius: 6px;
  height: 100vh;
  }

  .main__preview{
    padding: 0;
    width: 329px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: red;

  }
  .cards--form__container{
    margin-left: 40px;
    margin-right: 40px;

  }
  .main__form {
    background-image: none;
  }


}
