* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color-white-three;
}

li, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.hidden__element {
    height: 0px;
    overflow: hidden;
    margin: 0;
}

.hidden {
    display: none;
}

.icon {
    width: 60px;
    height: 49px;

    span {
        width: 60px;
        height: 26px;
        color: $color-dull-orange;

        @media all and (min-width: 768px) {
            width: 75px;
        }
    }

    @media all and (min-width: 768px) {
        // width: 75px;
        height: 61px;
    }
}
