body{
    height: 100vh;
    margin: 0;
    background-color: $color-white-three;
}

.hidden{
    height: 0px;
    overflow: hidden;
}

.button{

}

.icon{
    width: 32px;
    height: 48px;
    span {
        height: 26px;
        
        color: $color-dull-orange;
    }
}
